/* line 12, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 14, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
body {
  font-family: 'lato',Helvetica,Arial,sans-serif;
  background: url("../images/wavegrid.png");
  width: 920px;
  margin: 0 auto;
  margin-bottom: 50px; }

/* line 22, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 28, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
h1 {
  text-transform: uppercase;
  text-align: center; }

/* line 33, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
ul#tag-list {
  text-align: center; }
  /* line 37, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
  ul#tag-list .star {
    display: block;
    margin-bottom: 10px; }
    /* line 41, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#tag-list .star li {
      color: white;
      background: #27ae60;
      padding: 10px; }
  /* line 46, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
  ul#tag-list .not-star li {
    color: white;
    background: #27ae60;
    padding: 5px; }
  /* line 50, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
  ul#tag-list li {
    display: inline-block; }
    /* line 53, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#tag-list li:hover {
      cursor: pointer;
      background: #2ecc71; }
    /* line 58, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#tag-list li.active {
      background: #e74c3c; }

/* line 64, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
ul#item-list {
  margin-top: 20px; }
  /* line 68, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
  ul#item-list li.item {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.02);
    margin: 15px;
    padding: 20px;
    overflow: hidden; }
    /* line 88, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#item-list li.item > a {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    /* line 97, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#item-list li.item img, ul#item-list li.item .default-image {
      width: 200px;
      max-width: 200px;
      height: auto;
      position: absolute;
      top: 0;
      left: 0; }
    /* line 105, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#item-list li.item .default-image {
      height: 200px;
      text-align: center;
      line-height: 170px;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      transform: rotate(-5deg);
      color: red; }
    /* line 114, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
    ul#item-list li.item .description {
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 10px;
      font-size: 0.8em; }
      /* line 122, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
      ul#item-list li.item .description a {
        color: #27ae60;
        text-decoration: none; }
        /* line 125, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
        ul#item-list li.item .description a:hover {
          color: #2ecc71; }
      /* line 127, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
      ul#item-list li.item .description p {
        color: white;
        margin: 2px; }

/* line 135, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
footer {
  margin-top: 90px;
  font-size: 13px;
  clear: both;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 200px; }
  /* line 143, /Users/kyktommy/Sites/portfolio/source/stylesheets/draft.scss */
  footer p {
    margin: 0;
    text-align: center; }
